{
  "presets": [
    [
      "next/babel",
      {
        "styled-jsx": {
          "plugins": ["styled-jsx-plugin-postcss"]
        },
        "preset-react": {
          "runtime": "automatic",
          "importSource": "@emotion/react"
        },
        "preset-env": {}
      }
    ]
  ],
  "plugins": ["@emotion/babel-plugin", "babel-plugin-macros"]
}
