@tailwind base;

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

.light {
    --color-primary: 73 83 113;
    --color-secondary: 116 149 154;
}

.dark {
    --color-primary: 215 233 247;
    --color-secondary: 249 243 223;
}