@tailwind base;

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

.light {
    --color-primary: 73 83 113;
    --color-secondary: 116 149 154;
    --color-success: 151 219 174;
    --color-error: 244 187 187;
    --color-warning: 255 209 36;
}

.dark {
    --color-primary: 215 233 247;
    --color-secondary: 249 243 223;
    --color-success: 151 219 174;
    --color-error: 244 187 187;
    --color-warning: 255 209 36;
}